.btn:hover {
    color: var(--darker-cyan);
    background-color: var(--coffee-brown);
  }





  @media screen and (max-width: 778px) {
    body {
      padding: 0 2.5rem;
    }
  }
  
  @media screen and (max-width: 720px) {
    body {
      padding: 0 1.5rem;
    }
  }
  
  @media screen and (max-width: 500px) {
    body, nav {
      padding: 0 0.75rem;
    }
  } 



  @media screen and (max-width: 620px) {
    nav {
      position: fixed;
      top: 0;
      padding: 0 1.5rem;
    }
    .links {
      display: none;
    }
    .hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
    }
  }
  
  @media screen and (max-width: 500px) {
    nav {
      padding: 0 0.75rem;
    }
  } 




   @media screen and (max-width: 778px) {
    :root {
      --intro-pic: url(assets/home/tablet/image-hero-coffeepress.jpg)
    }
  
    .intro-pic {
      padding: 5rem 3rem;
    }
  
    .intro-title {
      font-size: 3.2rem;
    }
  }
  
  @media screen and (max-width: 550px) {
    :root {
      --intro-pic: url(assets/home/mobile/image-hero-coffeepress.jpg)
    }
  
    .intro-pic {
      padding: 4rem 2rem;
      text-align: center;
    }
  
    .intro {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .intro-title {
      font-size: 3rem;
    }
  
    .intro-para {
      max-width: 90%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .intro-pic {
      margin-top: 91px;
    }
  }
  
  @media screen and (max-width: 420px) {
    .intro-pic {
      padding: 4rem 1rem;
    }
  }
  
  @media screen and (max-width: 375px) {
    .intro-title {
      font-size: 2.5rem;
    }
  }  




 @media screen and (max-width: 940px) {
    .intro-pic {
      background-image: url(assets/home/tablet/image-hero-coffeepress.jpg);
      min-width: none;
    }
  }
  
  @media screen and (max-width: 778px) {
    .intro-title {
      font-size: 3.2rem;
    }
  }
  
  @media screen and (max-width: 560px) {
    .intro-pic {
      background-image: url(assets/home/mobile/image-hero-whitecup.jpg);
      padding: 5rem 3rem;
      text-align: center;
      min-width: none;
    }
  
    .intro {
      justify-content: center;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 620px) {
    .intro-pic {
      margin-top: 91px;
    }
  }
  
  @media screen and (max-width: 420px) {
    .intro-pic {
      padding: 4rem 1rem;
    }
  }
  
  @media screen and (max-width: 375px) {
    .intro-title {
      font-size: 2.5rem;
    }
  } 




@media screen and (max-width: 1000px) {
  .commitment {
    padding: 10rem 0;
    gap: 2.5rem;
  }

  .commitment-img {
    background-image: url(assets/about/tablet/image-commitment.jpg);
    min-width: none;
  }
}

@media screen and (max-width: 798px) {
  .commitment {
    grid-template-columns: 1fr;
    padding: 10rem 3rem;
  }
  
  .commitment-img {
    background-image: url(assets/about/mobile/image-commitment.jpg);
    height: 25rem;
  }

  .commitment-text {
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .commitment {
    padding: 10rem 1rem;
  }
}

@media screen and (max-width: 376px) {
  
}

@media screen and (max-width: 356px) {
  .commitment-img {
    width: 100%;
  }
} 





 @media screen and (max-width: 1140px) {
  .quality {
    grid-template-columns: 1fr;
  }

  .quality-img {
    order: 1;
    margin: -9rem auto 4rem;
  }

  .quality div {
    order: 2;
    text-align: center;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 798px) {
  .quality-img {
    height: 20rem;
  }

  .quality {
    padding: 5rem 3rem;
  }
}

@media screen and (max-width: 540px) {
  .quality {
    padding: 5rem 1rem;
  }
}

@media screen and (max-width: 376px) {
  .quality-title {
    font-size: 1.7rem;
  }
} 




@media screen and (max-width: 798px) {
  .headquarters {
    padding: 5rem 3rem;
  }
}

@media screen and (max-width: 740px) {
  .headquarters {
    grid-template-areas:
    "title title title"
    "card1 card1 card1"
    "card2 card2 card2"
    "card3 card3 card3";
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .headquarters {
    padding: 5rem 1rem;
  }

  .headquarter {
    margin: 0 auto;
  }
} 





@media screen and (max-width: 985px) {
    .footer {
      flex-direction: column;
      gap: 2rem;
    }
  
    .footer ul {
      justify-content: space-between;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 475px) {
    .nav-links {
      flex-direction: column;
    }
  } 






@media screen and (max-width: 1150px) {
  .collection-cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }

  .collection-card {
    width: 70%;
  }

  .collection-card img {
    width: 15rem;
  }
}

@media screen and (max-width: 1125px) {
  .collection-title {
    font-size: 8rem;
  }
}

@media screen and (max-width: 1015px) {
  .collection-cards {
    margin-top: 0;
  }

  .collection-title {
    font-size: 6rem;
  }
}

@media screen and (max-width: 790px) {
  .collection-title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 778px) {
  .collection-cards {
    grid-template-columns: 1fr;
  }

  .collection-card {
    width: 100%;
    flex-direction: row;
    text-align: left;
  }
}

@media screen and (max-width: 635px) {
  .collection-title {
    font-size: 4rem;
  }

  .collection-card {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 525px) {
  .collection-title {
    font-size: 2.5rem;
  }
}
 


@media screen and (max-width: 1110px) {
    .facility-cards {
      flex-direction: column;
      width: 80%;
    }
  }
  
  @media screen and (max-width: 900px) { 
    .facility-intro {
      padding: 3rem;
    }
    .facility-intro p {
      max-width: 95%;
    }
  }
  
  @media screen and (max-width: 650px) {
    .facility-intro {
      padding: 3rem 1rem;
    }
  }
  
  @media screen and (max-width: 475px) {
    .facility-card {
      padding: 1.75rem;
    }
  } 




  @media screen and (max-width: 685px) {
    .procedure {
      text-align: center;
    }
  
    .procedure-title {
      text-align: center;
    }
  
    .bullets {
      display: none;
    }
  
    .procedure-cards {
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      gap: 2.5rem;
      text-align: center;
    }
  
    .procedure-card {
      padding-right: 0;
      justify-content: center;
      align-items: center;
    }
  
    .procedure-card h3 {
      width: 100%;
    }
  } 